---
import { LightModeSelector } from "@/components/Header/LightModeSelector";
import { LanguageSelector } from "@/components/Header/LanguageSelector";
import type { PageDefaultProps } from "@/types/PageDefaultProps";
import { translations as t } from '@/utils/translations'

const { language } = Astro.props as PageDefaultProps
---

<header class="grid grid-cols-3 mx-auto max-w-screen-xl gap-2 p-6 items-center">
  <div>
    <h1 class="font-medium text-xl flex gap-2 items-center">
      <img src="/favicon.svg" alt="Logo" />
      <span class="pb-1">Isaque Hernandes</span>
    </h1>
  </div>
  <nav class="flex justify-center">
    <ul class="flex font-medium gap-4">
      <li class="hover:font-bold hover:text-sky-500"><a href="#about">{t[language].header.about}</a></li>
      <li class="hover:font-bold hover:text-sky-500"><a href="#skills">{t[language].header.skills}</a></li>
      <li class="hover:font-bold hover:text-sky-500"><a href="#career">{t[language].header.career}</a></li>
      <li class="hover:font-bold hover:text-sky-500"><a href="#projects">{t[language].header.projects}</a></li>
    </ul>
  </nav>
  <div class="flex justify-end gap-2">
    <LanguageSelector client:idle language={language} />
    <LightModeSelector client:idle />
  </div>
</header>